body{
		background: #e3e3e3;
}
.left-column{
	width: 20%
	float:left;
	min-height: 100px;
	background: color:#e3e3e3;
}
.alert{
	padding: 10px;
	border: 2px solid #d6e9c6;
	background-color: #dff0d8;
	color: #468847;

}
ol{
	font-style: italic;
	color: red;
}